<div class="forgot-password-container">
    <h2 class="forgot-password-title">Forgot Password</h2>
    <form (ngSubmit)="onForgotPassword()" class="forgot-password-form">
      <div class="form-group">
        <label for="email">Email:</label>
        <input 
          type="email"
          id="email"
          name="email"
          required
          [(ngModel)]="email"
          class="form-control"
          placeholder="Enter your email address"
        />
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </div>
  
      <div *ngIf="message" class="alert alert-info">
        {{ message }}
      </div>
    </form>
    <div class="form-group">
        <a (click)="onGoBack()" class="btn btn-secondary forgot-password-link" >Go Back to Login</a>
      </div>
  </div>
  