<div class="edit-password-container">
    <h2>Edit Password</h2>
    <form (ngSubmit)="onUpdatePassword()" #passwordForm="ngForm">
      <div class="form-group">
        <label for="currentPassword">Current Password:</label>
        <input
          [type]="isPasswordVisible ? 'text' : 'password'" 
          
          id="currentPassword"
          name="currentPassword"
          required
          [(ngModel)]="currentPassword"
          class="form-control"
        />
        <button type="button" (click)="togglePasswordVisibility()" class="btn btn-outline-secondary">
            {{ isPasswordVisible ? 'Hide' : 'Show' }}
        </button>
      </div>
      
  
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input
        [type]="isNewPasswordVisible ? 'text' : 'password'" 
          id="newPassword"
          name="newPassword"
          required
          [(ngModel)]="newPassword"
          class="form-control"
        />
        <button type="button" (click)="toggleNewPasswordVisibility()" class="btn btn-outline-secondary">
            {{ isNewPasswordVisible ? 'Hide' : 'Show' }}
        </button>
      </div>
  
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password:</label>
        <input
        [type]="isNewPasswordVisible ? 'text' : 'password'" 
          id="confirmPassword"
          name="confirmPassword"
          required
          [(ngModel)]="confirmPassword"
          class="form-control"
        />
        <button type="button" (click)="toggleNewPasswordVisibility()" class="btn btn-outline-secondary">
            {{ isNewPasswordVisible ? 'Hide' : 'Show' }}
        </button>
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Password</button>
      </div>
  
      <div *ngIf="message" class="alert" [ngClass]="{ 'alert-success': message.success, 'alert-danger': !message.success }">
        {{ message.text }}
      </div>
    </form>
  </div>