<div class="login-container">
   
    <h2>Nurse Login</h2>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Username:</label>
        <input 
          type="text"
          id="username"
          name="username"
          required
          [(ngModel)]="username"
          class="form-control"
        />
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          [(ngModel)]="password"
          class="form-control"
        />
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
  
      <div *ngIf="message" class="alert" [ngClass]="{ 'alert-success': message.success, 'alert-danger': !message.success }">
        {{ message.text }}
      </div>
  
      <div class="form-group">
        <a (click)="onForgotPassword()" class="forgot-password-link">Forgot Password?</a>
      </div>
    </form>
  </div>
  