.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    width: 100%;
  }
  
  .alert {
    margin-top: 15px;
  }
  
  .alert-success {
    color: green;
  }
  
  .alert-danger {
    color: red;
  }
  .forgot-password-link {
    color: blue; 
    text-decoration: none; 
    transition: color 0.3s ease; 
  }
  
  .forgot-password-link:hover {
    color: darkblue; 
    text-decoration: underline; 
    cursor: pointer; 
  }
  
  
.btn-primary {
  width: 50%; /* Full width button */
  padding: 10px; /* Button padding */
  margin: 0% 25%;
  background-color: #007bff; /* Primary button color */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  color: white; /* Text color */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker shade on hover */
}